/* Defualt margin/padding setting*/
* {
	margin: 0;
	padding: 0;
}

/* navigation bar */
.navbar {
	position: fixed;
	width: 100%;
	overflow: hidden;
	background-color: black;
	padding: 0.5rem 0.5rem;
}

.navbar .navbar-menu {
	float: right;
	margin-right: 1rem;
}

.navbar .navbar-logo {
	float: left;
}

.navbar .navbar-menu a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15px;
}

.navbar .navbar-menu a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .navbar-menu .signout {
	background-color: skyblue;
	color: black;
}

/* main container */
.main-container {
  padding-top: 75px;

  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

.main-container img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  .main-container {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .main-container {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .main-container {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .main-container {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/* overlay icon on image */
.main-container img:hover {
	opacity: 0.5;
}

dialog {
	height: 100%;
	width: 100%;
	text-align: center;
}

#memeDialog .container {
	display: grid;
}

.meme-preview-area {
	grid-column: 1;
	position: relative;
    text-align: center;
}

.meme-edit-area {
	grid-column: 2;
	background: white;
}

.top-text, .bottom-text {
	font-family: Impact;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	line-height: 1.0;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: absolute;
}

.top-text {
	width: 100%;
	top: 15px;
	left: 50%;
	transform: translate(-50%, 0);
}

.bottom-text {
	width: 100%;
	position: absolute;
	transform: translate(-50%, -15%);
	bottom: 60px;
	left: 50%;
}

table {
	width: 100%;
}

#memeDialog {
	height: 100vh;
}

#memePreviewArea {
	position: relative;
	text-align: center;
	padding: 1rem;
}

#memeDialog h1 {
	font-size: 4em;
	margin: 0 0 2rem 0;
}

#memeEditArea {
	font-size: 1.25rem;
	font-height: 150%;
	text-shadow: 0 2px 2px grey;
}
